<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add a movie</title>
    <style>
      /* Center the form on the page */
      form {
        margin: 0 auto;
        width: 50%;
        text-align: center;
      }
      h1 {
        text-align: center;
      }

      /* Position the logout button */
		.home-button {
			position: absolute;
			top: 10px;
			right: 10px;
		}


		.logout-button {
			position: absolute;
			top: 40px;
			right: 10px;
		}
    </style>
</head>
<body>
<h1>Add a Show</h1>
    <form method="post" action="{{ url_for('theatre_services.add_show_as_admin', venue_id=venue_id) }}">
        <label for="movie_id">Select a movie:</label>
          <select name="movie_id" id="movie_id">
            {% for movie in movies %}
            <option value="{{ movie.id }}">{{ movie.name }}</option>
            {% endfor %}
          </select><br><br>

        <label for="slot">Select a slot:</label>
          <select name="slot" id="slot">
            {% for slot_key in slots %}
            <option value="{{ slots[slot_key] }}">{{ slots[slot_key] }}</option>
            {% endfor %}
          </select><br><br>

        <label for="price">Price:</label>
        <input type="number" name="price" id="price" required><br><br>

        <label for="event_date">Event Date:</label>
        <input type="date" name="event_date" id="event_date" required><br><br>

        <button type="submit">Create a Show</button>
    </form>
    <form action="/logout" method="POST">
        <button type="submit" class="logout-button">Logout</button>
    </form>

    <form action="/admin_dashboard" method="GET">
        <button type="submit" class="home-button">Home</button>
    </form>
</body>
</html>